<html>
<head>
    <title>Authentification</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="Login-page.css">

</head>
<body>
    <div class="container">
        <div class="logo">orange</div>
        <h2>Authentification</h2>
        <div class="input-container">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="User Name">
        </div>
        <div class="input-container">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password">
        </div>
        <button class="btn">Connexion</button>
        <a href="#" class="forgot-password">Mot de passe oublié?</a>
        <div class="circle circle1"></div>
        <div class="circle circle2"></div>
        <div class="circle circle3"></div>
        <div class="circle circle4" style="top: 430px; right: 360px; width: 100px; height: 100px;" ></div>
    </div>
</body>
</html>